<div class="stats-container" *ngIf="stats as s">
    <h1 class="title">STATISTIQUES</h1>
    <p class="subtitle">Tes exploits dans le labyrinthe</p>

    <div class="stats-grid">

        <div class="stat-card">
            <h2>Labyrinthe Néon</h2>

            <p>
                Parties jouées :
                {{ s.labyrinthe.gamesPlayed }}
            </p>


            <ng-container *ngIf="s.labyrinthe.lastDifficulty as diff">
                <p>
                    Dernière difficulté :
                    {{ diff }}
                </p>
            </ng-container>

            <ng-container *ngIf="s.labyrinthe.lastSize as size">
                <p>
                    Taille du labyrinthe :
                    {{ size }} x {{ size }}
                </p>
            </ng-container>


            <ng-container *ngIf="s.labyrinthe.lastMoves as moves">
                <p>
                    Mouvements (dernière partie) :
                    {{ moves }}
                </p>
            </ng-container>


            <ng-container *ngIf="s.labyrinthe.bestMoves as bestMoves">
                <p>
                    Record (mouvements minimum) :
                    {{ bestMoves }}
                </p>
            </ng-container>


            <ng-container *ngIf="s.labyrinthe.bestTimeMs as bestTime">
                <p>
                    Meilleur temps :
                    {{ (bestTime / 1000) | number:'1.0-1' }} s
                </p>
            </ng-container>

            <ng-container *ngIf="s.labyrinthe.lastPlayed as lastPlayed">
                <p>
                    Dernière partie :
                    {{ lastPlayed | date:'short' }}
                </p>
            </ng-container>

        </div>

    </div>

    <button class="reset-btn" (click)="reset()">
        Réinitialiser les statistiques
    </button>
</div>