@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



.login-container {
    width: 420px;
    margin: 5rem auto;
    padding: 2rem 2.5rem;

    background: #0d0d16;
    border: 3px solid #00eaff;
    border-radius: 14px;

    font-family: 'Press Start 2P', monospace;
    color: #e5e5e5;
    text-align: center;
    letter-spacing: 1px;

    box-shadow:
        0 0 25px #00eaffaa,
        0 0 60px #ff009988,
        inset 0 0 25px #0005;

    position: relative;
    overflow: hidden;
}


.login-container::before {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0;

    background: repeating-linear-gradient(180deg,
            rgba(255, 255, 255, 0.06) 0px,
            rgba(255, 255, 255, 0.06) 2px,
            transparent 4px);

    opacity: 0.2;
}



.login-container h2 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1rem;

    color: #00eaff;
    text-shadow:
        0 0 8px #00f0ff,
        0 0 12px #ff0099,
        0 0 3px #00eaff;
}



form {
    text-align: left;
    font-size: 0.7rem;
}

label {
    display: block;
    margin-bottom: 0.3rem;
    color: #b0b0b0;
}



input {
    width: 100%;
    padding: 0.8rem;

    background: black;
    color: #e5e5e5;

    border: 2px solid #222;
    border-radius: 10px;

    font-family: 'Press Start 2P';
    font-size: 0.7rem;

    transition: box-shadow 0.2s, border-color 0.2s;
}

input:focus {
    outline: none;
    border-color: #00eaff;
    box-shadow: 0 0 12px #00eaff;
}



button[type="submit"] {
    width: 100%;
    margin-top: 1rem;
    padding: 0.9rem;

    border-radius: 12px;
    border: none;

    background: linear-gradient(90deg, #ff0099, #00eaff);
    color: black;

    font-size: 0.8rem;
    font-family: 'Press Start 2P';
    letter-spacing: 2px;

    cursor: pointer;

    text-shadow: 0 0 4px #fff;
    box-shadow:
        0 0 15px #ff0099,
        0 0 20px #00eaff;

    transition: transform 0.15s, box-shadow 0.15s;
}

button[type="submit"]:hover {
    transform: translateY(-3px) scale(1.03);
    box-shadow:
        0 0 30px #ff0099,
        0 0 40px #00eaff;
}



p {
    font-size: 0.6rem;
    text-transform: uppercase;

    color: #ff4d4d !important;
    text-shadow: 0 0 10px #ff1a75;
}