<nav class="navbar">
  <div class="nav-title">
    <a routerLink="/" class="brand">👾 Salle d'Arcade</a>
  </div>

  <ul class="nav-links">
    <li *ngIf="authService.isAuthenticated">
      <a routerLink="/labyrinthe">Labyrinthe</a>
    </li>
    <li *ngIf="authService.isAuthenticated">
      <a routerLink="/recherche">Blagues Chuck Norris</a>
    </li>
    <li *ngIf="authService.isAuthenticated">
      <a routerLink="/memory">Memory</a>
    </li>

    <li *ngIf="!authService.isAuthenticated">
      <a routerLink="/login">Login</a>
    </li>

    <li *ngIf="authService.isAuthenticated">
      <button (click)="logout()">Logout</button>
    </li>
  </ul>
</nav>

<main class="app-content">
  <router-outlet></router-outlet>
</main>